/* MAIN STYLES */
body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: 100vh;
}
a {
   text-decoration: none;
}

.main-content {
    display: flex;
    height: calc(93% - 100px); 
    overflow: hidden;
    position: relative;
}

#leftPane {
    background-color: #1e1e1e;
    padding: 5px 0px;
    border-radius: 20px;
    margin-left: 10px;
    flex: 3 1 75%; 
    min-width: 300px;
    display: flex;
    flex-direction: column; 
    overflow: hidden; 
}


#rightPane {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 20px;
    margin-right: 10px;
    flex: 1 1 23%; 
    min-width: 240px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column; 
    overflow: hidden; 
}


#leftPane, #rightPane {
    transition: flex-basis 0.2s;
} 

/* - -  LEFT PANLE - - - */



/* Resizable Divider */
.resizer {
    width: 5px;
    cursor: col-resize;
    z-index: 999;
    position: relative;
}

.resizer:hover {
    cursor: ew-resize;
}

body.dragging {
    user-select: none;
    cursor: col-resize;
}

.main-content .resizer {
    cursor: ew-resize;
}

.left-section h2,
.right-section h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ff4081;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.crypto-content{
    background-color: #9e9e9e;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header-left h1 {
        font-size: 24px;
    }
    .main-content {
        flex-direction: column;
    }
    #leftPane,
    #rightPane {
        width: 100%;
        flex-basis: auto;
        min-width: auto;
    }
    .resizer {
        display: none;
    }
    #leftPane {
        border-right: none;
        border-bottom: 1px solid #424242;
    }
}

/* New Full-Width Section Styles */
.full-width-section {width: calc(100% - 20px);border-radius: 15px;margin: 10px;background-color: #1e1e1e;padding: 10px 20px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);box-sizing: border-box;margin-top: 75px;}

.crypto-info {
display: flex;
align-items: center;
}

.crypto-logo img {width: 70px;height: 70px;margin-right: 15px;border-radius: 50%;}

.crypto-details h2 {font-family: 'Montserrat', sans-serif;color: #00aaff; margin: 0;font-size: 24px;}

.crypto-symbol {font-size: 21px;color: #e0e0e0;}

.crypto-stats {
display: flex;
align-items: center;
margin-top: 5px;
}

.stat {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-right: 30px;
position: relative; 
}


.stat-icon {
width: 24px;
height: 24px;
margin-right: 5px;
}

.stat-small {
color: #b0b0b0;
font-size: 12px;
margin-bottom: 2px; 
}

.stat-label {color: #9e9e9e;margin-right: 5px;font-size: 14px;}

.stat-value {color: #e0e0e0;font-size: 14px;margin-top: 5px;}

.stat-positive-text {
color: #00e676;
font-size: 14px;
margin-top: 2px; 
}

.stat-value.positive {
color: #00e676;
}

.stat-value.negative {
color: #ff1744;
}

.detail-title{
border-bottom: 1px dashed #b0b0b0;
cursor: pointer;
}

.detail-title{
border-bottom: 1px dashed #b0b0b0;
cursor: pointer;
}
/* Tooltip Description Styles */
.stat {
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;
margin-right: 30px;
}

/* Hide the description by default */
.description {
display: none;
position: absolute;
top: calc(75% + 1px);  
left: 0;
background-color: #4d4d4d; 
color: #fff;
padding: 8px;
border-radius: 5px;
width: 250px;
z-index: 900;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
font-size: 14px;
white-space: normal;
overflow: visible;
}



/* Triangle Arrow for Tooltip */
.description::before {
content: '';
position: absolute;
top: -5px; 
left: 20px; 
border-width: 0 5px 5px 5px; 
border-style: solid;
border-color: transparent transparent #4d4d4d transparent; 
}

/* Show the description when hovering over the .detail-title */
.detail-title:hover ~ .description {
display: block;
}


.detail-title {
cursor: pointer;
border-bottom: 1px dashed #b0b0b0;
}


/* Responsive Design for Full-Width Section */
@media (max-width: 768px) {
.crypto-info {
    flex-direction: column;
    align-items: flex-start;
}

.crypto-stats {
    flex-wrap: wrap;
}

.stat {
    margin-bottom: 10px;
    margin-right: 20px;
    width: 45%;
}

.stat-icon {
    width: 20px;
    height: 20px;
}

.crypto-details h2 {
    font-size: 24px;
}
}

/* Other styles*/
.mini-loading {
    height: 20px; 
    width: 20px;
    margin-left: 5px;
}

.hilight_icon{
    height: 19px;
    width: 19px;
    cursor: pointer;
    margin-left: 5px;
}

/* Tab styles */
.tab-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-bottom: -15px; 
}


.tab-button {
    background-color: #2e2e2e;
    border: 2px solid #555555;
    border-bottom: none; 
    outline: none;
    cursor: pointer;
    padding: 10px 14px;
    margin-right: -5px;
    margin-left: 5px;
    margin-bottom: 1px;
    transition: background-color 0.3s, color 0.3s;
    color: #e0e0e0;
    font-size: 16px;
    border-radius: 8px 8px 0 0;
    display: inline-block;
}

.tab-button:hover {
    background-color: #37363a;
    border-color: #817d7d;
    color: #ffffff;
}

.tab-button.active {
    background-color: #37363a;
    border-color: #817d7d;
    color: #ffffff;
}

.tab-content-wrapper {
    background-color: #2e2e2e;
    border: 1px solid #545454;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#below-part {
    margin-top: 20px;
    /* Add any additional styling as needed */
}


#below-part h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ff4081;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.tab-section-wrapper {
    background-color: #2e2e2e;
    border: 1px solid #545454;
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px;
}

.tab-section-wrapper h2 {
    margin-bottom: 15px;
    color: #ffffff;
    text-align: center;
}

.tab-section-wrapper div {
    display: flex;
    justify-content: center;
    gap: 15px; /* Space between buttons */
}

.open-long-bt, .open-short-bt {
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.open-long-bt {
    background-color: #009f21;
    border: 1px solid #00e676;
    color: #ffffff;
}

.open-short-bt {
    background-color: #b90000;
    border: 1px solid #ff5252;
    color: #ffffff;
}

/*Detailed data inside the Panle*/
.crypto-description {
    color: #e0e0e0;
    font-size: 14px;
    line-height: 1.6;
}

/* Read More Link Styles */
#read-more {
    color: #ff4081;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}

#read-more:hover {
    text-decoration: underline;
}

.description-spinner {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Tab Navigation Styles */
.left-tab-container {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    justify-content: flex-start;
    padding: 0;
    margin-left: 15px;
}


.left-tab-button {
    position: relative; 
    padding: 10px 12px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    color: #e0e0e0;
    font-size: 15px;
    transition: color 0.3s;
    white-space: nowrap;
    font-weight: 700;
}

.left-tab-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}

.left-tab-button:hover::after,
.left-tab-button.active::after { 
    width: 100%; 
}


.left-tab-button:hover {
    color: #ffffff;
}

.left-tab-button.active {
    color: #ffffff; 
}

.left-tab-button:not(:first-child) {
    margin-left: 0; 
}

/* Content Section Styles */
.left-pane-content {
    display: none;
    flex: 1 1 auto;
    overflow: hidden;
    flex-direction: column;
}


.left-pane-content.active {
    display: flex;
}

.left-pane-content .chart-container,
.left-pane-content .coin-chart {
    flex: 1 1 auto;
}

/* Optional: Add some padding to the content sections */
.left-pane-content h2 {
    margin-top: 0;
}

/*Error style*/
#error-page {
    background-color: #f0f0f0;
}

#error-page h1 {
    color: red;
}

#error-page p {
    font-size: 18px;
}


