:root {
    --box-main-color: #222222;
    --box-hilight-color: #2e2e2e;
    --border-box-hilight-color: #5e5e5e;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #e0e0e0; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Link Styles */
a {
    text-decoration: none;
    color: inherit; /* Links inherit text color */
}

/* Main Layout Container */
.main-layout {
  display: flex;
  flex: 1;
  background-color: #141414;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  transition: margin-left 0.3s;
}

/* Adjust main-layout when sidebar is collapsed */
.main-layout.collapsed {
  padding-left: 60px;
  margin-left: 80px;
}

/* Main Content Area */
.main-content {
  padding: 45px 40px 20px 40px; /* Top padding to offset the 65px header */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  flex: 1;
  transition: padding 0.5s;
  max-width: 1600px;
  margin: 0 auto;
}

/* Dashboard Overview Section */
.dashboard-overview {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    padding: 25px 30px;
    overflow: visible;
    position: relative;
}

/* Generic Overview Box Styles */
.overview-box {
    flex: 0 0 calc((100% - 80px) / 5); /* Ensure five boxes per row with gaps */
    padding: 7px 10px 10px 10px;
    border-radius: 8px;
    text-align: center;
    color: #e0e0e0;
    transition: background-color 0.5s, transform 0.5s, color 0.5s;
    box-sizing: border-box;
}

/* Portfolio Overview Specific Styles */
.portfolio-overview {
    position: relative;
    cursor: pointer;
    background-color: var(--box-main-color);
    z-index: 100;
    min-width: 200px;
}

.portfolio-overview .switch-account {
    font-size: 0.75rem;
    margin-bottom: 1px;
    color: #71ef71;
}

.portfolio-overview .account-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -3px;
    gap: 5px;
}

.account-info img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    filter: invert(1);
}

.portfolio-overview .account-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    filter: invert(0);
}

.portfolio-overview .account-name {
    font-weight: bold;
    font-size: 16px;
}


.portfolio-overview .account-balance {
    font-size: 0.9rem;
    color: #cdcdcd;
    margin-left: 25px;
}

.account-balance p {
    font-size: 0.9rem;
    color: #cdcdcd;
    margin: 0px 0 0 5px;
}

/* Color can vary */
.account-balance-increased {
    color: #71ef71;
}

/* Total Assets Specific Styles */
.box-see-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: solid 0.3px var(--box-hilight-color);
}

.total-assets-title {
    font-size: 0.85rem;
    margin-bottom: 10px;
    color: #cdcdcd; 
    margin-left: 10px;
    margin-top: 3px;
}

.total-assets-value {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

/* Submenu Styles */
.submenu {
    position: absolute;
    top: 100%;
    width: 90%;
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    max-height: 300px;
    overflow-y: auto;
}

.submenu.show {
    opacity: 1;
    visibility: visible;
}

.submenu-list {
    list-style: none;
    margin: 0;
    padding: 10px 0 1px 0;
}

.submenu-item {
    padding: 10px 20px;
    cursor: pointer;
    color: #e0e0e0;
    transition: background-color 0.3s, color 0.3s;
}

.submenu-item:hover {
    background-color: #434343;
    color: #ffffff;
}

.submenu-item.selected {
    background-color: #585858;
    color: #ffffff;
}

.submenu-item:focus .submenu-item-title,
.submenu-item:focus .submenu-item-subtext {
    color: #ffffff;
}

/* Optional: Add a separator style */
.submenu-separator {
    height: 2px;
    background: #444;
    margin: 5px 10px;
}

/* Responsive Adjustments for Overview Boxes */
@media (max-width: 1200px) {
    .overview-box {
        flex: 0 0 calc((100% - 80px) / 5);
    }

    .main-content {
        padding: 45px 15px 20px 10px;
    }
}


@media (max-width: 768px) {
    .overview-box {
        flex: 0 0 calc((100% - 80px) / 5);
        padding: 15px;
        font-size: 14px;
    }

    .main-content {
        padding: 15px 30px;
        max-width: 1000px;
    }

    .active-bots,
    .linked-accounts,
    .complete-register,
    .welcome-register {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .overview-box {
        flex: 0 0 calc((100% - 80px) / 5);
        padding: 10px;
        font-size: 12px;
    }

    .main-content {
        padding: 10px 5px;
        max-width: 900px;
    }

    .active-bots,
    .linked-accounts,
    .complete-register,
    .welcome-register {
        padding: 10px;
    }
}

/* Active Bots, Linked Accounts, Complete Register, and Welcome Register Sections */
.active-bots,
.linked-accounts,
.complete-register,
.welcome-register {
    padding: 20px;
    background-color: var(--box-main-color);
    border-radius: 8px;
    margin-bottom: 20px;
    transition: background-color 0.5s, color 0.5s;
}

.active-bots h2,
.linked-accounts h2,
.complete-register h2,
.welcome-register h2 {
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
}

.active-bots p,
.linked-accounts p,
.complete-register p,
.welcome-register p {
    margin: 10px 0 0 0;
    color: #ffffff;
    font-size: 16px;
}


.active-bots:hover p,
.linked-accounts:hover p,
.complete-register:hover p,
.welcome-register:hover p {
    color: #e0e0e0;
}

/* Override Styles for Nested .main-layout */
.main-layout .main-layout {
    margin-left: 0 !important;
    padding-left: 0 !important;
    width: 100% !important;
    display: flex !important;
}

.main-layout .main-layout .main-content {
    max-width: 1450px;
    width: 95%;
    margin: 0 auto !important;
    padding: 0 !important;
}

/* Complete Register Layout */
.complete-register {
    max-width: auto;
    margin: 0;
    padding: 15px 25px;
    margin-bottom: 20px;
}

/* Header styling (row 1) */
.complete-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.complete-header h2 {
    margin: 0;
    font-size: 0.80rem;
    color: #ffffff;
    width: auto;
}

.complete-header p {
    margin: 0;
    font-size: 0.8rem;
    color: #c1c1c1;
    margin-left: 10px;
}

/* Each stage is a small circle */
.progress-stage {
    width: 12px;
    height: 12px;
    background-color: #5e5e5e; 
    border-radius: 50%;
  }
  

  .progress-stage.active {
    background-color: #21cd0c; 
  } 
  

  .progress-bar-container {
    display: flex;
    gap: 5px; 
  }

/* Box container (row 2) */
.complete-register-content {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

/* Each box: image + text side by side */
.complete-register-content .box {
    flex: 1 1 0;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-box-hilight-color);
    align-items: center;
    justify-content: center;
}

.complete-register-content .box.highlight {
    border: 2px solid #e98630 !important;
}

/* Image style in each box */
.complete-register-content .box img {
    width: 30px;   
    height: auto;
    flex-shrink: 0;  
    filter: invert(50%);
}

/* Container for the heading & paragraph (vertical column) */
.complete-register-content .box-text {
    display: flex;
    flex-direction: column;   /* stack h2 above p */
    justify-content: flex-start;
}

/* Box text styling */
.complete-register-content .box-text h2 {
    margin: 0 0 5px 0;
    font-size: 0.85rem;
    color: #ffffff;
}

.complete-register-content .box-text p {
    margin: 0;
    font-size: 0.75rem;
    color: #a9a9a9;;
}

/* Account Details Div Styles */
.account-detail {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    z-index: 300;
    max-width: 250px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.account-detail.show {
    opacity: 1;
}

.account-detail h3 {
    margin-top: 0;
    color: #00aaff;
}

.detail-account-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.detail-account-name {
    font-weight: bold;
    vertical-align: middle;
}

.account-detail p {
    margin: 5px 0;
}

.submenu-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submenu-item-title {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
}

.submenu-item-subtext {
    font-size: 12px;
    color: #c1c1c1;
    margin-top: 5px;
}

.submenu-item-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 12px;
}

.submenu-item-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    filter: none;
}

.add-account-icon {
    width: 20px;
    height: 20px;
    filter: none;
    transition: filter 0.3s ease, background 0.3s ease;
}

.add-account-item {
    border: solid 1px #e98630;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
    transition: 0.3s ease;
}

.add-account-item:hover .add-account-icon {
    filter: brightness(0) saturate(100%) invert(100%);
}

.add-account-item:hover {
    background: #e98630;
}

/* Loading bar */
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading-bar {
    width: 60%;
    height: 12px;
    background-color: #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.loading-bar-fill {
    height: 100%;
    width: 40%;
    background-color: #4287f5;
}


/* Each stage is a small circle */
.progress-stage {
    width: 12px;
    height: 12px;
    background-color: #5e5e5e; 
    border-radius: 50%;
  }
  

  .progress-stage.active {
    background-color: #21cd0c; 
  } 
  

  .progress-bar-container {
    display: flex;
    gap: 5px; 
  }


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*  NEW PROGRESS BAR STYLES                                */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Ensure .welcome-register holds a 2x2 grid */
.welcome-register {
    /* Keep the background, border-radius from your existing style */
    /* Already has .welcome-register { padding:20px; background-color... } */
    display: flex;        /* Use flexbox */
    flex-wrap: wrap;      /* Let items wrap to next row */
    gap: 20px;            /* Spacing between items */
  }
  
  /* Let the "Welcome to Fundy" heading span full width above the 2x2 boxes */
  .welcome-register > h2 {
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  /* Make each .box half the container width so 2 boxes fit per row */
  .welcome-register .box {
    width: calc(50% - 12.5px); 
    border-radius: 8px;
    padding: 80px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-box-hilight-color);
    background-color: var(--box-main-color);
  }
  
  /* Optional: tweak the box heading text */
  .welcome-register .box h2 {
    margin: 0;
    color: #ffffff;
    font-size: 1rem;
  }
  

.linked-accounts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: auto;
}

.linked-accounts-header h2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0;
    width: auto;
}

.linked-accounts-header p {
    font-size: 1rem;
    color: #c1c1c1;
    margin: 0;
}

.linked-account-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    white-space: nowrap;
}

.linked-account-content::-webkit-scrollbar {
    height: 8px;
}

.linked-account-content::-webkit-scrollbar-thumb {
    background-color: var(--border-box-hilight-color);
    border-radius: 4px;
}

.linked-account-content::-webkit-scrollbar-track {
    background: transparent;
}

.linked-account {
    flex: 0 0 auto;
    width: 250px;
    background-color: var(--box-hilight-color);
    border: 1px solid var(--border-box-hilight-color);
    border-radius: 6px;
    padding: 15px;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 50PX; /*remove this in the future*/
}

.linked-account h2 {
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 768px) {
    .linked-account {
        width: 200px;
        padding: 12px;
    }

    .linked-accounts-header h2 {
        font-size: 1.25rem;
    }

    .linked-accounts-header p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .linked-account {
        width: 150px;
        padding: 10px;
    }

    .linked-accounts-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .linked-accounts-header h2 {
        font-size: 1.1rem;
    }

    .linked-accounts-header p {
        font-size: 0.8rem;
    }

    .linked-account-content {
        gap: 10px;
    }
}
